PyOpenGL
PyOpenGL_accelerate
opencv-python
glfw
numpy
imgui-bundle==1.5.2  # last version with prebuilt Python 3.10 wheels (newer ones build from source)
pandas
pywavefront
trimesh
pillow
matplotlib
# torch
# ultralytics